@page "/"

<PageTitle>Home</PageTitle>

<div style="font-size:40px;">
<ul>
    <li><span style="background-color:blue;color:white">Square pattern</span></li>
        <li>
            <span style="background-color:yellowgreen;color:black">Increasing triangle pattern</span>
        </li>
        <li>
            <span style="background-color:blue;color:white"> Decreasing triangle pattern</span>
        </li>
        <li>
            <span style="background-color:yellowgreen;color:black">Right sided triangle pattern</span>
        </li>
        <li>
            <span style="background-color:blue;color:white">Right sided decreasing triangle pattern</span>
        </li>
        <li>
            <span style="background-color:yellowgreen;color:black"> Hill pattern</span>
        </li>
        <li>
            <span style="background-color:blue;color:white"> Reverse hill pattern</span>
        </li>
        <li>
            <span style="background-color:yellowgreen;color:black"> Diamond pattern</span>
        </li>
</ul>
</div>