@page "/right-sided-triangle-pattern"
<h3>Right_sided_triangle_pattern</h3>

<ul>
    <li>Decreasing triangle pattern - space </li>
    <li>Increasing triangle pattern - star</li>
</ul>
<div style="font-size:50px">
    @for (int i = 1; i <= Number; i++)
    {
        <div>
            @for (int k = i; k <= Number; k++)
            {
                 <span>&nbsp;&nbsp;</span> 
              @*   <span>- </span> *@
            }

            @for (int k = 1; k <= i; k++)
            {
                <span style="color:darkblue">* </span>
            }
        </div>
    }

</div>


@code {
    private int Number = 5;
}
